/* 폰트 설정 */
/* 기본 폰트 */
@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 변경 폰트 02 */
@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 변경 폰트 03 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.start-container {
  /* 기본 폰트 */
  font-family: 'MaplestoryOTFBold';
}

.font-change button {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px 5px 0 0;
}

.font-change button:hover {
  color: green;
}


/* 기본 설정 */
body {
  background-color: #d3fcd4;
  font-family: 'MaplestoryOTFBold';
}

button {
    font-family: 'MaplestoryOTFBold';
}

input {
    font-family: 'MaplestoryOTFBold';
}

/* 헤더 설정 */
.App-header {
  text-align: center;
  margin: 20px;
}

/* 메인 컨테이너 설정 */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* 헤더 섹션 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* 메인 콘텐츠 설정 */
.main-content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.main-component {
  flex: 2;
  margin-right: 20px;
}

/* 할 일 리스트 설정 */
.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-item span {
  margin: 0 20px;
}

/* 사이드바 설정 */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* 할 일 추가 컴포넌트 설정 */
.add-todo-component {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.add-todo-component form {
  display: flex;
  flex-direction: column;
}

.add-todo-component input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-todo-component button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-todo-component button:hover {
  background-color: #218838;
}

/* 마감일 텍스트 설정 */
.deadline_todo {
  margin: 0 0 5px 0;
}

/* 카테고리 뷰 컴포넌트 설정 */
.category-view-component {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.category-view-component .category {
  margin-bottom: 20px;
}

.category-view-component h3 a {
  text-decoration: none;
  color: #000;
}

.category-view-component h3 a:hover {
  text-decoration: underline;
}

/* 시작 화면 설정 */
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3fcd4;
  font-family: 'MaplestoryOTFBold';
}

.start-container h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.start-container h2 {
  font-size: 2rem;
}

.start-button {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'MaplestoryOTFBold';
}

.start-button:hover {
  color: green;
}

/* 완료 화면 설정 */
.finish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.view-completed-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #218838;
}

/* 카테고리 페이지 설정 */
.category-page {
  padding: 20px;
}

.category-page h2 {
  margin-bottom: 20px;
}

.category-page .todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
