div, p {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style: none;
}

span{
  color: blueviolet;
  font-size: 40px;
  font-weight: bold;
  background-color: beige;
}

.first{
  color: #a52a2a;
  font-size: 20px;
}

.secon{
  color: #38a52a;
  font-size: 10px;
}

.third{
  color: #006ea1;
  font-size: 5px;
}

.last{
  color: #830abb;
  font-size: 25 px;
}

div{
  background-color: antiquewhite;
}



