div, p {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    list-style: none;
}


.first{
  color: #a52a2a;
}

.secon{
  color: #38a52a;
}

.third{
  color: #006ea1;
}

.last{
  color: #830abb;
}

div{
  background-color: antiquewhite;
}

span{
  color: blueviolet;
}

